
<section class="orders">
    <div class="container">
      <h1 class="fw-bolder">All Orders</h1>
        <div class="overflow-auto pt-4"> 
            <table class="table table-bordered border table-hover">
                <thead class="bg-gray white align-middle">
                    <tr>
                        <th class="col-1 px-4 py-2 fs-5 fw-normal">Orders</th>
                        <th class="col-2 px-4 py-2 fs-5 fw-normal">Customer</th>
                        <th class="col-3 px-4 py-2 fs-5 fw-normal">Address</th>
                        <th class="col-4 px-4 py-2 fs-5 fw-normal">Status</th>
                        <th class="col-5 px-4 py-2 fs-5 fw-normal">Placed At</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody" class="align-middle">
                  
                </tbody>
            </table>
        </div>
    </div>
</section>